node_modules
.next
out
coverage
test-results
.e2e-debug
*.log
*.tsbuildinfo
public/uploads
.data/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
pnpm-lock.yaml
yarn.lock
prisma/dev.db
